services:
 nginx:
  build: requirements/nginx/.
  container_name: nginx
  ports:
   - "443:443"
  volumes:
   - .web:/var/www/html
  networks:
   - inception
  restart: on-failure
 wordpress:
  build: requirements/wordpress/.
  container_name: wordpress
  volumes:
   - .web:/var/www/html
  expose:
   - "9000"
  networks:
   - inception
  restart: on-failure
 mariadb:
  build: requirements/mariadb/.
  container_name: mariadb
  expose:
   - "3306"
  networks:
   - inception
  restart: on-failure
networks:
 inception:
  driver: bridge

